<p>Añadir un comentario</p>
<form method="post" action="/quizes/<%= quizesid%>/comments/">
	<input type="text" id="comment" name="comment[texto]" value=""/>
	<button type="submit">Enviar</button>
</form>