<h3>Aplicación realizada por  <%= autor %></h3>
<div id="fotoAutor" style="float:left; display:block;">
	<p>Foto del autor:</p>
  	<img id="fotoAutor" title="Foto del autor" alt="Foto Juan Carlos Álvarez Martín" src="/images/fotoJCAM.png" />
</div>
<div id="video" style="float:right;">
	<p>Video de ejemplo:</p>
  	<video id="videoPrueba"width="300" height="150" controls style="margin-bottom:12px;">
	  <source src="/videos/ejemploVideo.mp4" type="video/mp4">
	  I'm sorry; your browser doesn't support HTML5 video.
	  <!-- You can embed a Flash player here, to play your mp4 video in older browsers -->
	</video>
 </div>
